<div class="sign-in-container">
    <div class="tittle">
        <img src="../../assets/svg/logo.svg" alt="" class="logo">
        <img src="../../assets/svg/logotype.svg" alt="" class="logotype">
    </div>

    <div class="sign-in-input">  
        <p class="info">Por favor, digite suas informações de login</p>
        <div class="inputs">
            <label for="email">Email</label>
            <input type="email" name="email" id="" placeholder="johndoe@gmail.com" >
        </div>
        <div class="inputs">
            <label for="password">Senha</label>
            <input type="password" name="password" id="" value="" placeholder="password">
        </div>
    </div>
    <a href="#" class="forgot-password">Esqueceu a senha?</a>
    <button onclick="entrar()">Se conectar <img src="../../assets/svg/vetor.svg" alt=""></button>
    <p class="sign-up">Você não tem uma conta? <a href="#">Crie a sua conta aqui!</a></p>
</div>
