body {
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 300px;
    height: 100vh;
    background: linear-gradient(180deg, #131C55 0%, rgba(19, 28, 85, 0.35) 104.8%, rgba(19, 28, 85, 0) 169.64%);

}

.logo-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0E1B6B;

    width: 100%;
    height: 8vh;
    padding-inline: 5px;
}

.logo {
    margin-right: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    height: 92vh;
    padding-top: 10px;
    padding-inline: 5px;
    background: url(../../assets/svg/pattern-hexagon.svg);
    background-color: #4658AC;
}

.option{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    width: 43%
}

.option .label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 110px;
} 

a {
    color: white;
    text-decoration: none;
}

.option img {
    
}