<div class="content">
    <div class="sidebar">
        <div class="logo-bar">
            <img src="../../assets/svg/logo.svg" alt="" class="logo">
            <img src="../../assets/svg/logotype-dark.svg" alt="" class="logotype">
        </div>
        <div class="nav">
            <div class="option">
                <div class="label">
                    <img src="../../assets/svg/dashboard/config.svg" alt="" class="config-img">
                    <a href="config">Configuração</a>
                </div>
                
                <img src="../../assets/svg/dashboard/seta-baixo.svg" alt="">
    
            </div>
        </div>
    </div>
    
</div>
